{% extends 'base.html.twig' %}

{% block title %}Édition de «{{ post.title }}»{% endblock %}

{% block body %}
    <h1>Édition de «{{ post.title }}»</h1>

{{ include('post/_form.html.twig', {button_text: 'modifier', form: edit_form}) }}
{% endblock %}
